@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  box-sizing: border-box;
  border-spacing: 0;
}
/* 
roboto light weight: 300
roboto regular weight: 400
roboto medium weight: 500
roboto bold weight: 700

*/

body,html{
  padding: 0;
  margin: 0;
  background-color: #0559D3;
}

body, p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #003575;
}

p{
  font-size: 15px;
  line-height: 1.3em;
  font-weight: 300;
}

.hero{
  height: 90vh;
  width: 100vw;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  padding: 0 0 7rem;
  border: none;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0 100%);
  position: relative;
  z-index: 3;
}

.hero .button{
  margin: 0;
  margin-top:7rem ;
}

.hero .button-agenda{
  display: none;
}


section:nth-child(odd){
  clip-path: polygon(0 0, 100% 3vw, 100% calc(100% - 3vw), 0% 100%);
  padding: 4rem 0 7rem;
  background-color: #D8E0E5;
  position: relative;
  z-index: 0;
}

section:nth-child(even){
  padding: 5rem 0 8rem;
  margin-top: -4rem;
  margin-bottom: -5rem;
  background-color: #fff;
  position: relative;
  z-index: 0;
}

.full-width{
  width: 100%;
}

.flex{
  display: flex;
}

h1{
  font-weight: 300;
  font-size: 30px;
  color: #0559D3;
  text-decoration: underline;
}

h2{
  font-weight: 500;
  font-size: 20px;
  color: #0559D3;
}

aside{
  transition: all .2s ease-in-out;
}

.button{
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 3rem;
  display: inline-block;
  transition: background-color 0.2s;
  margin: 0.5em;
}

.button-more{
  font-size: .8rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  display: inline-block;
  transition: background-color 0.2s;
}

.button-link__blue{
  background-color: #0559D3;
  color: white;
}

.button-link__blue:hover{
  background-color: #003575;
}

.button-link__white{
  color: #0559D3;
  background-color: white;
}

.button-link__white:hover{
  background-color:  #003575;
  color: white;
}

.aside__button{
  padding: 1rem;
  margin-top: 10px;
  border-top-right-radius: 10px;
  text-align: right;
  transition: all .3s ease-in-out;
}


/*------- SIGN UP FORM --------*/

.signup-field{
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 6;
  width: 250px;
}

/* ANIMATION */

.signup-field__form.show-dropdown {
  height: 30vh;
}

/* ------    CALENDAR  --------*/


.previousBtn{
  display: block;
  background-color: #fff;
  top: calc(40% - 15px);
  left: 10px;
  width: 22px;
  height: 22px;
  position: absolute;
  background-color:#0559D3;
  border: 0;
  border-radius: 50%;
  
}

.nextBtn{
  display: block;
  background-color: #fff;
  top: calc(40% - 15px);
  left: calc(100% - 30px);
  width: 22px;
  height: 22px;
  position: absolute;
  background-color:#0559D3;
  border: 0;
  border-radius: 50%;
}

.nextBtn span{
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fff;
  margin-left: 3px;
  clip-path: polygon(65% 50%, 0 0, 0 100%);
}

.previousBtn span{
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fff;
  margin-left: -3px;
  clip-path: polygon(35% 50%, 100% 0, 100% 100%);
}

#calendar-body{
  display: block;
  width: 84%;
  margin: auto;
}

#calendar-body tr{
  width: 100%;
  display: inline-block;
}

#calendar-body tr td{
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
  padding: 1rem 0;
}

.container{
  width: 1200px;
  margin: auto;
}




.intro-content_text{
  display: flex;
  justify-content: space-between;
  line-height: 1.2em;
  flex-wrap: wrap;
}

.intro-content_text p{
  flex: 1;
  padding: 0 1em;
}

.intro-content_text p:first-child{
  padding-left: 0;
}

.intro-content_text p:last-child{
  padding-right: 0;
}




.nieuws-content__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1rem -1.5rem 0 -1.5rem;
}

.nieuws-content__item{
  flex: 1;
  min-width: 28%;
  margin: 1rem 1.5rem 0px 1.5rem;
  padding-bottom: 2em;
  border-bottom: #0559D3 1px solid;
  border-bottom-right-radius: 20px;
}

.nieuws-content__date{
  font-size: .8em;
  color: rgb(5, 89, 211);
  font-weight: 500;
  display: flex;
  height: 25px;
  align-items: center;
}

.nieuws-content__date img{
  width: 20px;
  height: 25px;
  filter: invert(26%) sepia(98%) saturate(1493%) hue-rotate(199deg) brightness(89%) contrast(118%);
}

.nieuws-content__date p{
  display: inline-block;
  margin-left: 10px;
  color: #0559D3;
  font-weight: 500;
}



footer, footer h2, footer a{
  color: white;
  text-align: center;
}

footer{
  position: relative;
  z-index: 5;
  padding-top: 4rem;
  background-color: #0559D3;
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 100%);
}

footer a{
  text-decoration: none;
  padding:0.5rem 0;
  width: calc(100% / 3);
  text-align: center;
  font-size: 0.8rem;
}

footer a:hover{
  text-decoration: underline;
}

footer ul{
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

footer div{
  height: 25px;
  width: 100%;
  background-color: white;
  display: flex;
  margin-top: 3rem;

}

footer div img{
  display: block;
  height: 70%;
  margin: auto;
}


/*  ------------------ slider evenementen ------------------*/

.evenementen-slider__wrapper{
  position: relative;
}

.evenementen-slider__subcontainer{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
}

.evenementen-slider__frame{
  justify-content: space-between;
  position: absolute;
  width: 99999px;
}

.evenementen-slider-buttons{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
}

.evenementen-slider-buttons__left{
  left: -45px;
}

.evenementen-slider-buttons__right{
  right:-45px;
  left:auto;
}


/*  ------------------ contact page ------------------*/

#contact-content{
  position: relative;
}

#contact-content img.icon{
  width: 20px;
  margin-right: 1em;
}

.contact-content__text{
  width: 50%;
}

.contact-content__text div{
  margin-top: 2em;
}

.contact-content__map{
  width: 50%;
  height: 120%;
  position: absolute;
  overflow: hidden;
  top: -100px;
  left: 50%;
}

#contact-content iframe{
  height: 100%;
  width: 100%;
}

#contact-form{
  text-align: center;
}

#contact-form form{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#contact-form form input{
  height: 2.5em;
  margin: 1em 0;
  background-color: #D8E0E5;
  border: none;
  border-bottom: 1px solid #0559D3 ;
}

#contact-form form input:focus{
  padding-bottom: 2px;
  outline: none;
  border-bottom: 2px solid #0559D3 ;
}

#contact-form form input[type = "submit"]{
  margin-top: 2.5em;
  height: 3rem;
  line-height: 2em;
  background-color: #0559D3;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
}

/* media queries ---------------------------------------------- /*
/*
xs (for phones - screens less than 768px wide)

sm (for tablets - screens equal to or greater than 768px wide)

md (for small laptops - screens equal to or greater than 992px wide)

lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/


@media screen and (max-width: 1280px) {
  .container{
    width: 992px;
  }
}

@media screen and (max-width: 1080px) {
  .container{
    width: 768px;
  }
  #contact-form form{
    width: 65%;
  }
}

@media screen and (max-width: 860px) {
  .container{
    width: 80%;
  }


  header .button-agenda{
    display: inline-block;
  }

  header #card-calendar{
    display: none;
  }

  .nieuws-content__wrapper{
    margin: 0;
  }

  .nieuws-content__item{
    min-width: 100%;
    text-align: left;
    margin: 1em 0;
  }
}

@media screen and (max-width: 700px) {
  .intro-content_text{
    display: flex;
    flex-wrap: wrap;
  }
  .intro-content_text p{
    width: 100%;
  }
  .contact-content__text{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .contact-content__text h1{
    width: 100%;
  }
  .contact-content__text div{
    flex: 1;
  }
  #contact-content .contact-content__map{
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 2em;
  }
}

@media screen and (max-width: 570px){
  h1,h2,p{
    text-align: center;
  }
  .container{
    width: 90%;
  }
  .intro-content_text p{
    flex: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .contact-content__text div{
    width: 100%;
    flex: none;
    margin-top: 1em;
  }
  #contact-form form{
    width: 100%;
  }
  footer a{
    width: 100%;
  }
}