@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  border-spacing: 0;
}

/* 
roboto light weight: 300
roboto regular weight: 400
roboto medium weight: 500
roboto bold weight: 700
*/

body,
html {
  padding: 0;
  margin: 0;
  background-color: #0559D3;
}

body,
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #003575;
}

p {
  font-size: 15px;
  line-height: 1.3em;
  font-weight: 300;
}

header {
  height: 90vh;
  width: 100vw;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  padding: 0 0 7rem;
  border: none;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0 100%);
  position: relative;
  z-index: 3;
}

header .button {
  margin: 0;
  margin-top: 7rem;
}

header .button-agenda {
  display: none;
}


section:nth-child(odd) {
  clip-path: polygon(0 0, 100% 3vw, 100% calc(100% - 3vw), 0% 100%);
  padding: 4rem 0 7rem;
  background-color: #D8E0E5;
  position: relative;
  z-index: 0;
}

section:nth-child(even) {
  padding: 5rem 0 8rem;
  margin-top: -4rem;
  margin-bottom: -5rem;
  background-color: #fff;
  position: relative;
  z-index: 0;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

h1 {
  font-weight: 300;
  font-size: 30px;
  color: #0559D3;
  text-decoration: underline;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  color: #0559D3;
}

aside {
  transition: all .5s ease-in-out;
}

aside.reduce {
  left: -180px;
}

.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 3rem;
  display: inline-block;
  transition: background-color 0.3s;
  margin: 0.5em;
}

.button-more {
  font-size: .8rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  display: inline-block;
  transition: background-color 0.3s;
}

.button-link__blue {
  background-color: #0559D3;
  color: white;
}

.button-link__blue:hover {
  background-color: #003575;
}

.button-link__white {
  color: #0559D3;
  background-color: white;
}

.button-link__white:hover {
  background-color: #003575;
  color: white;
}

.aside__button {
  padding: 1rem;
  margin-top: 10px;
  border-top-right-radius: 10px;
  text-align: right;
  transition: all .5s ease-in-out;
}




/*---------- NAVIGATION MENU --------------*/

#navigation {
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.navigation-background__transparant {
  background-color: rgba(255, 255, 255, 0);
  transition: all .3s ease-in-out;
}

.navigation-background__colored {
  background-color: rgba(255, 255, 255, 1);
  transition: all .3s ease-in-out;
  box-shadow: 1px -7px 22px 0px rgba(5, 89, 211, 0.87);
  -webkit-box-shadow: 1px -7px 22px 0px rgba(5, 89, 211, 0.87);
  -moz-box-shadow: 1px -7px 22px 0px rgba(5, 89, 211, 0.87);
}

nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

nav img {
  height: 100%;
}

nav a {
  text-decoration: none;
  color: #003575;
  display: block;
  padding: 0 1em;
  position: relative;
}


nav a.active::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(5, 90, 211, 1);
  content: '';
  opacity: 1;
}

nav a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(5, 90, 211, 1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

nav a:hover::after,
nav a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}


nav ul {
  display: flex;
  list-style-type: none;
  height: 100%;
  margin: 0;
  line-height: 50px;
}

/* ---------- hamburger menu ---------- */

.dropdown__navbar {
  display: none;
  height: 50px;
}

.dropdown__navbar img {
  height: 80%;
}

.dropdown-menu {
  width: 50px;
  height: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu__button-container {
  position: relative;
  z-index: 200;
}

.dropdown-menu__button {
  width: 30px;
  background-color: #0559D3;
  height: 4px;
  border-radius: 5px;
  transition: all .1s ease-in-out;
  z-index: 20;
}

.dropdown-menu__button::before,
.dropdown-menu__button::after {
  content: '';
  position: absolute;
  width: 30px;
  background-color: #0559D3;
  height: 4px;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.dropdown-menu__button::before {
  transform: translateY(-8px);
}

.dropdown-menu__button::after {
  transform: translateY(8px);
}

.dropdown-menu__list {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #0559D3;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dropdown-menu__list-content {
  align-self: center;
  list-style-type: none;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-align: center;
}

.dropdown-menu__list-content a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 0 3em;
  font-size: 1.5em;
}

/* ANIMATION  */

.dropdown-menu.open .dropdown-menu__button {
  transform: translateX(-50px);
  background: transparent;
}

.dropdown-menu.open .dropdown-menu__button::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: #FFF;
}

.dropdown-menu.open .dropdown-menu__button::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: #FFF;
}

.dropdown-menu__list.show-dropdown {
  transform: translateX(0);
}


/*------- SIGN UP FORM --------*/


.aside__heading {
  display: flex;
  justify-content: space-between;
}

.aside__heading h2 {
  color: #fff;
  margin: 0;
}

.aside__button {
  box-shadow: 3px 3px 6px -3px rgba(5, 89, 211, 0.87);
  -webkit-box-shadow: 3px 3px 6px -3px rgba(5, 89, 211, 0.87);
  -moz-box-shadow: 3px 3px 6px -3px rgba(5, 89, 211, 0.87);
}

.aside__button span {
  display: inline-block;
}

.dropdown-aside__button {
  width: 30px;
  background-color: #fff;
  height: 4px;
  border-radius: 5px;
  top: 10px;
  transition: all .5s ease-in-out;
  position: relative;
}

.dropdown-aside__button::before,
.dropdown-aside__button::after {
  content: '';
  position: absolute;
  width: 30px;
  background-color: #fff;
  height: 4px;
  border-radius: 5px;
  left: 0;
  transition: all .5s ease-in-out;
}

.dropdown-aside__button::before {
  transform: translateY(-8px);
}

.dropdown-aside__button::after {
  transform: translateY(8px);
}

.signup-field {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 100;
  width: 250px;
}

.signup-field__form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0px;
  flex-direction: column;
  padding: 0rem;
  position: relative;
  transition: all .5s ease-in-out;
}

.signup-field__form input {
  /*padding: 1em;*/
  border: none;
  border-bottom: solid 1px #0559D3;
  flex: 1;
}

.signup-field__form input:first-child {
  margin-top: 1em;
}

.signup-field__form input[type=submit] {
  background-color: #fff;
  color: #0559D3;
  border: 2px solid #FFF;
  text-transform: uppercase;
}



/* ANIMATION */

.dropdown-aside__button.open {
  transform: translateX(-50px);
  background: transparent;
}

.dropdown-aside__button.open::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: #FFF;
}

.dropdown-aside__button.open::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: #FFF;
}

.signup-field__form.show-dropdown {
  height: 30vh;
}




/* ------    CALENDAR  --------*/

.button-agenda {
  background-color: #fff;
}

.button-agenda:hover {
  background-color: #003575;
}

.button-agenda:hover .agenda-field__heading,
.button-agenda:hover .agenda-field__heading h2 {
  color: #fff;
}

.button-agenda .agenda-field__heading h2 {
  color: #0559D3;
  ;
}


.button-agenda .dropdown-aside__button::before,
.button-agenda .dropdown-aside__button::after {
  background-color: transparent;
}

.aside-heading:hover .dropdown-aside__button::before,
.aside-heading:hover .dropdown-aside__button::after {
  background-color: transparent;
}

.agenda-dropdown.open .calendar-icon {
  transition: .5s ease-in-out all;
  opacity: 0;
  background-color: transparent;
}

.agenda-dropdown.open::before,
.agenda-dropdown.open::after {
  background-color: #0559D3;
}

.button-agenda:hover .agenda-dropdown.open::after,
.button-agenda:hover .agenda-dropdown.open::before {
  background-color: #fff;
}

.agenda-field__heading .dropdown-aside__button {
  width: 30px;
  transition: all .5s ease-in-out;
  position: relative;
  background-color: transparent;
}

.agenda-field__heading .calendar-icon {
  width: 100%;
  transform: translateY(-8px);
  filter: invert(26%) sepia(98%) saturate(1493%) hue-rotate(199deg) brightness(89%) contrast(118%);
}

.button-agenda:hover .calendar-icon {
  filter: invert(100);
}


#card-calendar,
.button-agenda:hover #card-calendar {
  background-color: white;
}

#card-calendar {
  width: 400px;
  position: absolute;
  margin-top: 1rem;
  left: -400px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all .5s ease-in-out;
}

#card-calendar.show-dropdown {
  left: 0;
}

table#calendar {
  display: block;
  margin: 0;
}

#card-calendar h2 {
  text-align: center;
}

#card-calendar thead {
  width: 84%;
  margin: auto;
  display: block;
}

#card-calendar thead tr {
  width: 100%;
  display: flex;
  text-align: center;
}

#card-calendar thead th {
  display: block;
  float: left;
  width: calc(100% / 7);
}

#card-calendar .calendar-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
}

.previousBtn {
  display: block;
  background-color: #fff;
  top: calc(40% - 15px);
  left: 10px;
  width: 22px;
  height: 22px;
  position: absolute;
  background-color: #0559D3;
  border: 0;
  border-radius: 50%;

}

.nextBtn {
  display: block;
  background-color: #fff;
  top: calc(40% - 15px);
  left: calc(100% - 30px);
  width: 22px;
  height: 22px;
  position: absolute;
  background-color: #0559D3;
  border: 0;
  border-radius: 50%;
}

.nextBtn span {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fff;
  margin-left: 3px;
  clip-path: polygon(65% 50%, 0 0, 0 100%);
}

.previousBtn span {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fff;
  margin-left: -3px;
  clip-path: polygon(35% 50%, 100% 0, 100% 100%);
}

#calendar-body {
  display: block;
  width: 84%;
  margin: auto;
}

#calendar-body tr {
  width: 100%;
  display: inline-block;
}

#calendar-body tr td {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
  padding: 1rem 0;
}

.container {
  width: 1200px;
  margin: auto;
}




.intro-content_text {
  display: flex;
  justify-content: space-between;
  line-height: 1.2em;
  flex-wrap: wrap;
}

.intro-content_text p {
  flex: 1;
  padding: 0 1em;
}

.intro-content_text p:first-child {
  padding-left: 0;
}

.intro-content_text p:last-child {
  padding-right: 0;
}




.nieuws-content__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1rem -1.5rem 0 -1.5rem;
}

.nieuws-content__item {
  flex: 1;
  min-width: 28%;
  margin: 1rem 1.5rem 0px 1.5rem;
  padding-bottom: 2em;
  border-bottom: #0559D3 1px solid;
  border-bottom-right-radius: 20px;
}

.nieuws-content__date {
  font-size: .8em;
  color: rgb(5, 89, 211);
  font-weight: 500;
  display: flex;
  height: 25px;
  align-items: center;
}

.nieuws-content__date img {
  width: 20px;
  height: 25px;
  filter: invert(26%) sepia(98%) saturate(1493%) hue-rotate(199deg) brightness(89%) contrast(118%);
}

.nieuws-content__date p {
  display: inline-block;
  margin-left: 10px;
  color: #0559D3;
  font-weight: 500;
}



footer,
footer h2,
footer a {
  color: white;
  text-align: center;
}

footer {
  position: relative;
  z-index: 5;
  padding-top: 4rem;
  background-color: #0559D3;
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 100%);
}

footer a {
  text-decoration: none;
  padding: 0.5rem 0;
  width: calc(100% / 3);
  text-align: center;
  font-size: 0.8rem;
}

footer a:hover {
  text-decoration: underline;
}

footer ul {
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

footer div {
  height: 25px;
  width: 100%;
  background-color: white;
  display: flex;
  margin-top: 3rem;

}

footer div img {
  display: block;
  height: 70%;
  margin: auto;
}



/* ---------------- evenementen page ----------*/

.evenementen-slider__main {
  display: flex;
  margin-bottom: 3rem;
}

.evenementen-slider__main-image {
  flex: 1;
  background-image: url(../images/camp.jpg);
  background-size: cover;
  background-position: center;
}

.evenementen-slider__main-content-text {
  flex: 1;
  padding: 2rem;
}

/*  ------------------ slider evenementen ------------------*/

.evenementen-slider__wrapper {
  position: relative;
}

.evenementen-slider__subcontainer {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 520px;
}

.evenementen-slider__frame {
  justify-content: space-between;
  position: absolute;
  width: 99999px;
}

.evenementen-slider-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
}

.evenementen-slider-buttons__left {
  left: -45px;
}

.evenementen-slider-buttons__right {
  right: -45px;
  left: auto;
}

.evenementen-slider__item {
  width: calc((1200px / 3) - 2em);
  margin: 1em;
  float: left;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  padding-bottom: 3rem;
  border-bottom: 3px solid #0559D3;
}

.evenementen-slider__image img {
  width: 100%;
  margin-bottom: 1rem;
}

.evenementen-slider__content {
  padding: 0 2em;
}

.evenementen-slider__content a {
  margin-top: 1em;
}

/*  ------------------ contact page ------------------*/

#contact-content {
  position: relative;
}

#contact-content img.icon {
  width: 20px;
  margin-right: 1em;
}

.contact-content__text {
  width: 50%;
}

.contact-content__text div {
  margin-top: 2em;
}

.contact-content__map {
  width: 50%;
  height: 120%;
  position: absolute;
  overflow: hidden;
  top: -100px;
  left: 50%;
}

#contact-content iframe {
  height: 100%;
  width: 100%;
}

#contact-form {
  text-align: center;
}

#contact-form form {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#contact-form form input {
  height: 2.5em;
  margin: 1em 0;
  background-color: #D8E0E5;
  border: none;
  border-bottom: 1px solid #0559D3;
}

#contact-form form input:focus {
  padding-bottom: 2px;
  outline: none;
  border-bottom: 2px solid #0559D3;
}

#contact-form form input[type="submit"] {
  margin-top: 2.5em;
  height: 3rem;
  line-height: 2em;
  background-color: #0559D3;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
}

/* media queries ---------------------------------------------- /*
/*
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/


@media screen and (max-width: 1280px) {
  .container {
    width: 992px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    width: 768px;
  }

  #contact-form form {
    width: 65%;
  }
}

@media screen and (max-width: 860px) {
  .container {
    width: 80%;
  }

  nav {
    display: none;
  }

  .dropdown__navbar {
    display: block;
  }

  header .button-agenda {
    display: inline-block;
  }

  header #card-calendar {
    display: none;
  }

  .nieuws-content__wrapper {
    margin: 0;
  }

  .nieuws-content__item {
    min-width: 100%;
    text-align: left;
    margin: 1em 0;
  }
}

@media screen and (max-width: 700px) {
  .intro-content_text {
    display: flex;
    flex-wrap: wrap;
  }

  .intro-content_text p {
    width: 100%;
  }

  .contact-content__text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .contact-content__text h1 {
    width: 100%;
  }

  .contact-content__text div {
    flex: 1;
  }

  #contact-content .contact-content__map {
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 2em;
  }
}

@media screen and (max-width: 570px) {

  h1,
  h2,
  p {
    text-align: center;
  }

  .container {
    width: 90%;
  }

  .intro-content_text p {
    flex: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .contact-content__text div {
    width: 100%;
    flex: none;
    margin-top: 1em;
  }

  #contact-form form {
    width: 100%;
  }

  footer a {
    width: 100%;
  }